<h1>Edit Tweet</h1>

<form action="/tweets/<%= @tweet.id %>" method="POST">
  <label>Tweet</label>
  <input type="text" name="content" id="tweet_text" value="<%=@tweet.content%>">
  <input type="submit" value="submit">
</form>
